
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.country{
    background-color: purple;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
}